.btn-homepage {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ee0909;
  transition: background 0.3s ease;
}

.btn-homepage:hover {
  background: #c20808;
  color: white;
}
