.navbar-lewagon {
  justify-content: space-between;
  background: #222222;
}

.nav-text {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text:hover {
  color: #BDAE6D;
}
