.navbar-lewagon {
  justify-content: space-between;
  background: #222222;
}

.nav-text {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: auto;
}

.nav-tab {
  padding-right: 5px;
}

.nav-link {
  color: white;
}

.nav-text:hover {
  color: #BDAE6D;
}

.nav-link:hover {
  color: #BDAE6D;
}

.avatar-navbar:hover {
  cursor: pointer;
}
